@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Arial', sans-serif;
    color: #202020;

}

/* Headings */
h1, h2 {
    font-family: 'Commissioner', sans-serif;
    text-transform: uppercase;
    font-size: 240%;
    color: #252525;
}

/* Main heading */
#logo {
    font-size: 250%;
    float: left;
    margin-left: 20px;
}

nav {
    background-color: #70aeff;
}

/* Links to sections on page*/
#navigation {
    font-size: 130%;
    margin: 0 20px 0 20px;
    text-align: right;
}

#navigation, #logo {
    line-height: 80px;
}

/* Links */
#navigation li {
    list-style-type: none;
    margin: 0 10px;
    display: inline;
    background-color: #70aeff;
    border: 2px solid #202020;  
    border-radius: 10%;
    padding: 10px;
}

/* Links */
#navigation li:hover {
    color: #70bfff;
    background-color: #202020;
}

/* Links */
#navigation a {
    text-decoration: none;
    color: inherit;
}

/* hero image */

#hero {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* Image taken from "https://www.pexels.com/photo/group-of-women-playing-musical-instruments-7097459/" */
#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
}

/* about us section */

#about {
    padding: 0 40px;
}

/* about us text */
#pitch {
    padding: 40px 0;
    width: 50vw;
    text-align: center;
    margin: 20px auto;
}

#about h2 {
    text-decoration: underline;
    font-size: 300%;
    padding: 10px 0;
}

#about p {
    font-size: 150%;
}

/* about us - table part*/

#schedule {
    height: 180px;
    width: 400px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    background-color: #70aeff;
    border-radius: 10%;
}

#schedule h3 {
    font-size: 160%;
    text-decoration: underline;
}

#about-us {
    width:  50vw;
    text-align: center;
    margin: 20px auto;
    padding: 20px 0;
}

#about-us p {

}

/* table content */
#meetups {
    text-align: center;
    margin: 0 auto;
    font-size: 150%;
}

/* Sign up */

/* Image taken from "https://www.pexels.com/photo/music-notes-934067/" */
#signup-section {
    background: url('../images/music-notes.jpg') no-repeat center center;
    height: 550px;
}

#signup {
    padding: 100px;
    text-align: left;
}

.form {
    margin: 0 auto;
    color:#202020;
    max-width: 400px;
    padding: 25px;
    background-color: rgba(112, 174, 255, .9);
}

.form > h2 {
    font-size: 200%;
    margin-bottom: 15px;
}

.text-field {
    background: transparent;
    color: #202020;
    width: 100%;
    height: 20px;
    border: 1px solid #202020;
    border-radius: 3px;
    font-size: 110%;
}

.submit-button {
    margin-top: 20px;
    border-radius: 2px;
    text-align: center;
    padding: 10px 30px;
    font-size: 125%;
    background-color: #202020;
    color: #70aeff;
    display: block;
}

.submit-button:hover {
    background-color: white;
    color:#202020;
}

/* footer */

#contact {
    height: 100px;
    margin: 20px auto;
    text-align: center;
}

#contact h2 {
    font-family: 'Arial', sans-serif;
    font-size: 150%;
    margin: 20px auto;
}

#contact p {
    margin: 5px auto;
}

footer {
    height: 105px;
}

#footer {
    text-align: center;
}

#footer li {
    display: inline;
}

#footer i {
    font-size: 400%;
    margin: 2%;
    color: #70aeff;
}

/* Media queries */
/* for screen size at 950px and smaller */
@media screen and (max-width: 950px) {
    #logo {
        clear: both;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    #navigation {
        text-align: center;
    }
}